
/* Font Family */
/* 한국어 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChosunNm';
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.ttf') format("truetype");
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 62.5%;
}
body {
  font-size: var(--font-size-mainText);
  color: #333;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}

/* articleTitle */
.articleTitle {
  margin: 0 auto 5rem;
  text-align: center;
}
.articleTitle h4 {
  margin-bottom: 0.8rem;
  font-size: var(--font-size-subTitle);
  color: var(--font-color-subTitle);
}
.articleTitle p {
  padding: 0 5rem;
  word-break: keep-all;
  font-size: var(--font-size-subDesc);
  color: var(--font-color-subDesc);
}

:root {
  /* === Font Family === */
  --primary-kr: 'Noto Sans KR', sans-serif;
  /* --primary-en: 'Roboto', sans-serif; */

  /* === Font Color === */
  /* ex. 경복궁행사, 이달의 행사 */
  --font-color-subTitle: #333;
  /* sub title 아래 작은 글자 */
  --font-color-subDesc: #666;
  --font-color-mainText: #333333;

  --main-color-yellow: #FFC011;
  --sub-color-blue: #364F99;


  /* === Background Color === */
  --bg-color-white: #fff;
  --bg-color-gray: #F1F2F5;


  /* === Font Size === */
  /* ex. 경복궁행사, 이달의 행사 */
  /* --font-size-subTitle: 45px; */
  --font-size-subTitle: 4rem;
  /* sub title 아래 작은 글자 */
  /* --font-size-subDesc: 20px; */
  --font-size-subDesc: 2rem;

  /* 일반 글자 */
  /* --font-size-mainText: 16px; */
  --font-size-mainText: 1.6rem;
  /* --font-size-smallText: 14px; */
  --font-size-smallText: 1.4rem;


  /* === Gap Size(블록 사이의 공간) === */
  /* 3rem = 30px */
  --gap-size-normal: 3rem;
}

@media all and (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}

@media all and (max-width: 768px) {
  :root {
  /* === Font Size === */
  --font-size-subTitle: 3.5rem;
  --font-size-subDesc: 1.8rem;
  }
  .articleTitle {
    margin: 0 auto 4rem;
  }
}
