@import url('/css/reset.css');

#wrap {
  min-height: 70vh;
  margin-top: 15rem;
  padding-bottom: 10rem;
}
#notice-content {
  margin: 20px 0 ;
}
.notice {
  width: 1200px;
  margin: 0 auto;
}
/* Search */
.notice-search input {
  position: relative;
  min-width: 150px;
  width: 25%;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 20px;
  outline: none;

  background: #eee url('/images/00_search.svg') right 1.5rem center no-repeat;
  cursor: pointer;
}
.notice-search input::placeholder {
  font-size: var(--font-size-mainText);
  font-weight: 500;
}

/* Notice Inner */
.notice-inner-list {
  margin-top: 30px;
  text-align: left;
}
.notice-inner-list ul {
  margin: 0;
  border-top: 2px solid var(--main-color-yellow);
  border-bottom: 2px solid var(--main-color-yellow);
}
.notice-inner-list li {
  display: flex;
  justify-content: space-between;
  padding: 17px 15px;
}
.notice-inner-list .head {
  position: relative;
  background-color: #F6F6F6;
}
.notice-inner-list .head span {
  font-weight: 600;
}
.notice-inner-list li span {
  font-size: 1.8rem;
  color: var(--font-color-subTitle);
}
.notice-inner-list .list {
  border-top: 1px solid #666;
}
/* .notice-inner-list .list:last-child {
  border-bottom: none;
} */
.notice-inner-list li .title {
  width: 60%;
  text-align: left;
  margin-left: 7%; 
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
}
.notice-inner-list li .number {
  width: 20%;
  text-align: center;  
}
.notice-inner-list li .date {
  width: 20%;
  text-align: center;  
}
.notice-inner-list li .date-list {
  color: #666;
}
.notice-inner-list li .number-list {
  color: #666;
}
.notice-inner-list li .title-center {
  text-align: center;
  margin-left: none;
}
/* .notice-inner-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
} */
.notice-inner-details {
  transition: 1s;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}
.open {
  max-height: 1800px;
}
.notice-inner-details .notice-inner-detail {
  border-top: 1px solid #ddd;
}
.notice-inner-details p {
  width: 1200px;
  padding: 0 3rem;
}
.notice-inner-details p img {
  width: 100%;
  padding: 3rem;
  /* transition: 1s; */
}
.main-footer-include {
  position: re;
  bottom: 0;
}
@media all and (max-width:1024px) {
  #wrap {
    padding: 0 3rem;
  }
  .notice {
    width: 100%;
  }
  .notice-inner-details p {
    width: 100%;
  }
}

@media all and (max-width:768px) {

  #wrap {
    padding: 0 3rem;
    margin-top: 5rem;
  }
  .notice {
    width: 100%;
  }
  .notice-inner-details p {
    width: 100%;
  }
  .notice-inner-list li span {
    font-size: 1.5rem;
  }
  .notice-inner-list li .number {
    display: none;
  }
}

