.subpage-banner {
  position: relative;
  width: 100%;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.subpage-banner .subpage-benner-btn-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: inherit;
  background: url('../img/00_page-banner-btn-bg.png') no-repeat center;
  background-size: cover;
}
.subpage-banner .subpage-benner-btn-bg::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}
.subpage-banner .subpage-benner-btn-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.subpage-banner-title {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
}
.subpage-banner-title h4 {
  margin-bottom: 1rem;
  font-size: 5rem;
  color: #fff;
}
.subpage-banner-title p {
  font-size: 2rem;
  opacity: 0.8;
  color: #fff;
}
/* button */
.subpageMenu-btns {
  width: 100%;
  max-width: 1200px;
  height: 8rem;
  background-color: #fff;
  border-radius: 18px 18px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subpageMenu-btns input {
  display: none;
}
.subpageMenu-btns input:checked + .btns {
  background: url(../img/00_banner_btn_pattern.png) var(--main-color-yellow);
  /* background: url(../img/00_banner_btn_pattern.png) var(--sub-color-blue); */
  color: #fff;
  font-weight: bold;
}
.subpageMenu-btns .btns {
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 8rem;
  color: #ccc;
  font-size: 2.4rem;
  /* font-weight: bold; */
  font-weight: normal;
  border: 1px solid #ccc;

  cursor: pointer;
}
.subpageMenu-btns .btns.dayReserve {
  border-radius: 18px 0 0 0 ;
  border-right: 0;
}
.subpageMenu-btns .btns.nightReserve {
  border-right: 0;
}
.subpageMenu-btns .btns.confirmReserve {
  border-radius: 0 18px 0 0 ;
}

@media all and (max-width:1024px) {
  .subpageMenu-btns {
    width: calc(100% - 5rem);
  }
}

@media all and (max-width:768px) {
  .subpage-banner {
    height: 340px;
  }
  .subpage-banner-title {
    top: 15%;
    width: 100%;
  }
  .subpage-banner-title h4 {
    font-size: 4rem;
  }
  .subpage-banner-title p {
    font-size: 1.8rem;
    word-break: keep-all;
  }
  .subpageMenu-btns {
    /* width: calc(100% - 3rem); */
    flex-direction: column;
    /* height: 18rem; */
    height: 19rem;
    border-radius: 0;
  }
  .subpageMenu-btns input:checked + .btns {
    height: 50%;
  }
  .subpageMenu-btns .btns {
    width: 100%;
    height: auto;
    line-height: 6rem;
    font-size: 2.2rem;
    border-radius: 0;
  }
  .subpageMenu-btns .btns.dayReserve, .subpageMenu-btns .btns.nightReserve, .subpageMenu-btns .btns.confirmReserve {
    border-radius: 0;
    height: 50%;
  }
  .subpageMenu-btns .btns.dayReserve {
    border-right: 1px solid #ccc;
    border-bottom: 0;
  }
  .subpageMenu-btns .btns.nightReserve {
    border-right: 1px solid #ccc;
    border-bottom: 0;
  }
}
