@import url('./reset.css');
@import url('./style.css');

/* === Reservation === */
#reservation-content {
  width: 100vw;
  background-color: var(--bg-color-gray);
}
.reservation-inner {
  /* border: 3px solid red; */
  max-width: 1300px;
  padding: 0 50px;
  padding-bottom: 50px;
  margin: 0px auto;
}
.reservation-inner-heading {
  display: flex;
  justify-content: space-between;
  padding-top: 10rem;
  margin-bottom: 2rem;
}
.reservation-inner-heading h1 {
  color: var(--font-color-subTitle);
  font-size: var(--font-size-subTitle);
}
.reservation-inner-heading a {
  background-color: #aaa;
  color: #fff;
  border: 1px solid #aaa;
  border-radius: 50px;
  width: 20rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s;
}
.reservation-inner-heading a i {
  font-size: 2rem;
  padding-right: 0.2rem;
}
.reservation-inner-heading a:hover {
  background-color: #fff;
  color: var(--sub-color-blue);
  cursor: pointer;
  border: 1px solid var(--sub-color-blue);
}

.reservation-inner-wrap {
  /* border: 1px solid blue; */
}
.reservation-items {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.reservation-item-flex1, .reservation-item-flex2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: calc((100% - 3rem)/2);
}
.reservation-item {
  background-color: #fff;
}
.reservation-item hr {
  border: 1px solid #efefef;
}
.reservation-item-heading {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.reservation-item-heading i {
  font-size: 2rem;
  color: var(--font-color-subDesc);
}
.reservation-item-heading p {
  display: inline-block;
  padding-left: 0.2rem;
  font-size: var(--font-size-subDesc);
  font-weight: 600;
}
.reservation-item-content {
  padding: 2rem;
}


/* Reservation - Item1 */
#reservation-calendar {
  /* width: 100%;
  height: 30rem; */
}
.calendar-title {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendar-title span {
  font-size: 2.4rem;
  position: relative;
}
.calendar-title a:first-child::before {
  content: "\F284";
  font-family: bootstrap-icons;
  display: inline-block;
  transform: translateY(2px);
  color: crimson;
  font-weight: 800;
}
.calendar-title a:last-child::after {
  content: "\F285";
  font-family: bootstrap-icons;
  display: inline-block;
  transform: translateY(2px);
  color: crimson;
  font-weight: 800;
}
#calendar-table {
  width: 100%;
  height: 50rem;
  text-align: center;
}
#calendar-table th,
#calendar-table td a {
  font-weight: 400;
  font-size: var(--font-size-smallText);
  color: #aaa;
}
#calendar-table th:first-child {
  color: crimson;
}
#calendar-table th:last-child {
  color: var(--sub-color-blue);
}
#calendar-table tr td:first-child a {
  color: crimson;
}
#calendar-table tr td:last-child a {
  color: var(--sub-color-blue);
}

/* Reservation - Item2 */
.item2 .reservation-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#select-event {
  height: 4rem;
  width: 25rem;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 1rem;
}
.reservation-item-content i {
  padding: 0 1rem;
}
/* Reservation - Item3 */
#select-time {
  height: 4rem;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 1rem;
}

/* Reservation - Item4 */
.reservation-info {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reservation-info label {
  display: flex;
  justify-content: flex-end;
  flex: 2;
  gap: 1rem;
  margin-right: 2rem;
}
.reservation-info input {
  flex: 5;
  width: 100%;
  height: 4rem;
  padding-left: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.phone {
  flex: 5;
  display: flex;
}
#phone1, #phone2, #phone3 {
  width: 30%;
  text-align: center;
}
#phone1 {
  border-radius: 5px 0 0 5px;
}
#phone2 {
  border-radius: 0;
}
#phone3 {
  border-radius: 0 5px 5px 0;
}
.reservation-info:nth-child(4) i {
  transform: rotate(90deg);
}

/* Reservation - Item5 */
.agreement {
  margin: 2rem;
}
.agreement .item {
  position: relative;
}
.agreement-item input[type=checkbox] {
  display: none;
}
.agreement-item label:hover {
  cursor: pointer;
}
.agreement-item label::before {
  content: "\F26B";
  font-family: bootstrap-icons;
  color: #b9b9b9;
  display: inline-block;
  transform: translateY(3px);
}
.agreement-item input:checked + label::before {
  content: "\F26A";
  font-family: bootstrap-icons;
  color: var(--sub-color-blue);
}
.view-detail {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--sub-color-blue);
}
.view-detail:hover {
  cursor: pointer;
}

/* Text Content */
.agreement .item .text {
  opacity: 0;
  height: 0;
  padding: 0 2rem;
  border-top: 1px solid #eee;
  margin-top: 2rem;
  position: relative;
  transition: all 0.6s cubic-bezier(.42,.2,.08,1);
  overflow: hidden;
}

/* Text Content - Class for JS to hide and show */
.agreement .item .text.show {
  opacity: 1;
  height: auto;
  padding: 25px 20px;
  position: relative;
  z-index: 0;
}

/* Reservation - Item6 */
.item6 table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 1rem;
  border-style: hidden;
  box-shadow: 0 0 0 1px #b9b9b9;
  text-align: center;
  font-size: var(--font-size-smallText);
}
.item6 td {
  border: 1px solid #b9b9b9;
  height: 4rem;
}
.item6 tr {
  border-radius: 2rem;
}
.item6 table tr:first-child {
  background-color: rgba(0, 0, 0, 0.06);
}

/* Reservation - Item7 */
.item7 .reservation-item-content {
  margin: 1rem 2rem;
}
.item7 .reservation-item-content ul {
  margin: 1rem;
}
.item7 .reservation-item-content li {
  font-size: var(--font-color-subDesc);
  line-height: 3rem;
}
.item7 .reservation-item-content li::before {
  content: "-";
  padding-right: 1rem;
}

/* Reservation - Item8 */
.item8 .reservation-item-heading {
  display: flex;
  justify-content: space-between;
}
.item8 .reservation-item-heading span {
  font-weight: 600;
  color: var(--sub-color-blue);
}

/* Reservation - Item9 */
.item9 #select-payment {
  height: 4rem;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 1rem;
}

/* Reservation - Button */
#reservation-button-submit {
  width: 100%;
  height: 7rem;
  margin: 0 auto;
  background-color: var(--sub-color-blue);
  border: 1px solid var(--sub-color-blue);
  border-radius: 5rem;
  color: #fff;
  font-size: 2.4rem;
  transition: 0.3s;
}
#reservation-button-submit:hover {
  background-color: #fff;
  color: var(--sub-color-blue);
  cursor: pointer;
  border: 1px solid var(--sub-color-blue);
}

/* Media Query - Tablet Size */
@media all and (max-width: 1024px) {
  html {
    font-size: 55%;
  }
  .reservation-inner {
    max-width: 80vw;
    padding: 0;
    padding-bottom: 50px;
    margin: 0px auto;
  }
  .reservation-items {
    flex-direction: column;
  }
  .reservation-item-flex1,
  .reservation-item-flex2 {
    width: 100%;
  }
  #select-event {
    width: 100%;
  }
  .reservation-info input, .phone {
    flex: 7;
  }
}

/* Media Query - Mobile Size */
@media all and (max-width: 768px) {
  html {
    font-size: 55%;
  }
  .reservation-inner-heading {
    flex-direction: column;
    align-items: center;
    flex-flow: column-reverse;
    gap: 2rem;
  }
  .item2 .reservation-item-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .item2 .reservation-item-content i {
    transform: rotate(90deg);
  }
  .item4 .reservation-info {
    flex-direction: column;
    gap: 1rem;
  }
  .reservation-info input {
    flex: none;
  }
  #phone1, #phone2, #phone3 {
    width: 33.3%;
  }
  .item5 label {
    font-size: 1.5rem;
  }
  .item5 .view-detail {
    font-size: 1rem;
    top: 3px;
  }
  .item5 .text {
    font-size: 1.5rem;
  }
}


/* ### Reservation-confirm Page ### */
.reservation-confirm {
  padding-top: 10rem;
}
.reservation-confirm-bookbtn {
  height: 10rem;
}
.reservation-confirm-bookbtn a {
  float: right;
  width: 15rem;
  height: 5rem;
  line-height: 5rem;
  margin: 2rem 0;

  background-color: var(--sub-color-blue);
  color: #fff;
  border: 1px solid var(--sub-color-blue);
  border-radius: 50px;

  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s;
}
.reservation-confirm-bookbtn a i {
  font-size: 2rem;
  padding-right: 0.2rem;
}
.reservation-confirm-bookbtn a:hover {
  background-color: #fff;
  color: var(--sub-color-blue);
  cursor: pointer;
  border: 1px solid var(--sub-color-blue);
}
.reservation-confirm-main {
  margin: 0px auto;
}
.reservation-confirm-topnav {
  width: 100%;
}
#confirm-mobile, #confirm-email {
  display: none;
}
label[for=confirm-mobile],
label[for=confirm-email] {
  display: inline-block;
  width: 30%;
  height: 6rem;
  line-height: 6rem;

  background-color: #fff;
  color: #b9b9b9;
  font-size: 20rem;
  font-weight: 400;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
}
label[for=confirm-mobile] {
  border-radius: 50px 0 0 50px;
  margin-left: 20%;
}
label[for=confirm-email] {
  border-radius: 0 50px 50px 0;
}
.confirm-mobile-form,
.confirm-email-form {
  width: 60%;
  margin: auto;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.confirm-mobile-form h1,
.confirm-email-form h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
}
.confirm-mobile-form input,
.confirm-email-form input {
  width: 60%;
  height: 4rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 1px #eee;
}
#confirm-mobile-tel,
#confirm-email-tel {
  margin-bottom: 1rem;
}
#confirm-mobile-password,
#confirm-email-password {
  margin-bottom: 3rem;
}
.reservation-confirm-topnav input::placeholder {
  color: #b9b9b9;
}
.reservation-confirm-topnav input:focus {
  outline: none;
}
.reservation-confirm-topnav input:focus::placeholder {
  color: transparent;
}
input.placeholder-red::placeholder {
  color: red;
  font-weight: 600;
}
.reservation-confirm-topnav input[type=submit] {
  width: 60%;
  height: 5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0;

  background-color: var(--sub-color-blue);
  border: none;
  border-radius: 5rem;
  color: #fff;
  font-size: 2rem;
  transition: 0.3s;
}
.reservation-confirm-topnav input[type=submit]:hover {
  background-color: #fff;
  color: var(--sub-color-blue);
  cursor: pointer;
  border: 1px solid var(--sub-color-blue);
}
.confirm-mobile-form .forgot-password,
.confirm-email-form .forgot-password {
  display: flex;
  gap: 1rem;
}
.confirm-mobile-form .reset-password-btn,
.confirm-email-form .reset-password-btn2 {
  color: var(--sub-color-blue);
  font-weight: 600;
}
.confirm-mobile-form .reset-password-btn:hover,
.confirm-email-form .reset-password-btn2:hover {
  cursor: pointer;
  text-decoration: underline;
}
#confirm-mobile:checked + label[for=confirm-mobile] {
  background-color: var(--sub-color-blue);
  color: #fff;
}
#confirm-mobile:checked ~ .confirm-email-content {
  display: none;
}
#confirm-email:checked + label[for=confirm-email] {
  background-color: var(--sub-color-blue);
  color: #fff;
}
#confirm-email:checked ~ .confirm-mobile-content {
  display: none;
}
.confirm-info {
  padding: 5rem;
}
.confirm-info li {
  font-size: var(--font-color-subDesc);
  line-height: 3rem;
}
.confirm-info li::before {
  content: "-";
  padding-right: 1rem;
}

/* ### Reservation-reset-password Modal ### */
.modal-background,
.modal-background2 {
  position: fixed;
  top:0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
.reset-password,
.reset-password2 {
  position: absolute;
  background-color: white;
  display: flex; justify-content: center;
  align-items: center;
  width: 50vw;
  max-width: 700px;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 5px;
  background-color: #fff;

  display: none;
}
.reset-password h1,
.reset-password2 h1 {
  margin: 2rem 0;
  text-align: center;
  font-size: 3rem;
}
.reset-password-phone {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reset-password-phone label {
  display: flex;
  justify-content: flex-end;
  flex: 2;
  gap: 1rem;
  margin-right: 2rem;
}
.reset-password-phone input {
  flex: 5;
  width: 100%;
  height: 4rem;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: none;
}
.reset-password .token_wrapper,
.reset-password2 .token_wrapper {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.reset-password .token_wrapper button,
.reset-password2 .token_wrapper button {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #b9b9b9;
  background-color: #fff;
  color: #b9b9b9;
  font-weight: 600;
}

.reset-password-info {
  padding: 2rem 5rem;
}
.reset-password-info li {
  line-height: 3rem;
}
.reset-password-info li::before {
  content: "-";
  padding-right: 1rem;
}
.reset-password-buttons {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.reset-password-buttons button {
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: var(--sub-color-blue);
  border: 1px solid var(--sub-color-blue);
  border-radius: 5rem;
  color: #fff;
  font-size: 2rem;
  transition: 0.3s;
}
.reset-password-buttons button:hover {
  background-color: #fff;
  color: var(--sub-color-blue);
  border: 1px solid var(--sub-color-blue);
  cursor: pointer;
}
.reset-password-buttons button:disabled {
  background-color: #b9b9b9;
  border: 1px solid #b9b9b9;
  color: #fff;
  cursor: auto;
}

/* Media Query - Tablet Size */
@media all and (max-width: 1024px) {
  html {
    font-size: 55%;
  }
  #reservation-content.confirm {
    height: calc(100vh - 332px);
  }
  .reservation-confirm {
    max-width: 80vw;
    padding: 0;
    margin: 0px auto;
  }
  .reservation-confirm {
    padding-top: 10rem;
  }
  label[for=confirm-mobile],
  label[for=confirm-email] {
    font-size: 1.8rem;
    font-weight: 400;
  }
  .confirm-booking-content {
    max-width: cal(80vw - 20rem);
  }
  #confirm-mobile-tel,
  #confirm-mobile-password {
    width: 80%;
  }
  #confirm-email-tel,
  #confirm-email-password {
    width: 80%;
  }
  .reset-password,
  .reset-password2 {
    width: 70vw;
  }
}

/* Media Query - Mobile Size */
@media all and (max-width: 768px) {
  html {
    font-size: 55%;
  }
  #reservation-content.confirm {
    height: auto;
  }
  .reservation-confirm {
    padding: 0;
  }
  label[for=confirm-mobile],
  label[for=confirm-email] {
    width: 40%;
    font-size: 1.3rem;
    font-weight: 400;
  }
  label[for=confirm-mobile] {
    margin-left: 10%;
  }
  .confirm-mobile-form,
  .confirm-email-form {
    width: 80%;
  }
  .confirm-mobile-form h1,
  .confirm-email-form h1 {
    font-size: 2.5rem;
  }
  #confirm-reservation-btn,
  #confirm-reservation-btn2 {
    font-size: 1.8rem;
  }
  .forgot-password {
    flex-direction: column;
    align-items: center;
  }
  .confirm-info {
    padding: 2rem;
  }
  .reset-password,
  .reset-password2 {
    width: 90vw;
  }
  .reset-password-phone label {
    flex: 3;
    align-items: center;
  }
  .reset-password-phone > label > i {
    font-size: 2rem;
  }
  .reset-password-phone > label > p {
    font-size: 1.2rem;
  }
  .reset-password-buttons button {
    width: 130px;
  }
}


/* ### Reservation-confirm-info Page ### */
.reservation-confirm-topnav {
  position: relative;
}
#confirm-booking, #confirm-cancel {
  display: none;
}
label[for=confirm-booking],
label[for=confirm-cancel] {
  display: inline-block;
  width: 30%;
  height: 6rem;
  line-height: 6rem;

  background-color: #fff;
  color: #b9b9b9;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  font-size: 2.4rem;
  cursor: pointer;
}
label[for=confirm-booking] {
  border-radius: 50px 0 0 50px;
  margin-left: 20%;
}
label[for=confirm-cancel] {
  border-radius: 0 50px 50px 0;
}
#confirm-booking:checked + label[for=confirm-booking] {
  background-color: var(--sub-color-blue);
  color: #fff;
}
#confirm-booking:checked ~ .confirm-cancel-content {
  display: none;
}
#confirm-cancel:checked + label[for=confirm-cancel] {
  background-color: var(--sub-color-blue);
  color: #fff;
}
#confirm-cancel:checked ~ .confirm-booking-content {
  display: none;
}
.confirm-booking-desc p {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}
.confirm-booking-desc p:first-child {
  margin-top: 3rem;
}
.confirm-booking-desc p > span {
  color: var(--sub-color-blue);
}
.confirm-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  padding: 4rem;
  background-color: #fff;
}
.confirm-booking-inner {
  display: flex;
  gap: 5rem;
  width: 100%;
}
.confirm-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#confirm-item-title {
  height: 5rem;
  line-height: 5rem;
  border-bottom: 2px solid var(--sub-color-blue);
  font-size: var(--font-size-subDesc);
  font-weight: 600;
  color: var(--sub-color-blue);
}
.confirm-item > div {
  display: flex;
  justify-content: space-between;
  
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.8rem;
}
#confirm-item-title {
  padding: 0;
}
.confirm-item > div:last-child {
  border-bottom: none;
}
.confirm-item > div#price {
  color: crimson;
  font-weight: 600;
}
.btn-reservation-cancel,
.btn-reservation-cancel2 {
  width: 20rem;
  height: 5rem;
  line-height: 5rem;
  margin: 1.5rem 0;
  text-align: center;
  background-color: var(--sub-color-blue);
  border: 1px solid var(--sub-color-blue);
  border-radius: 5rem;
  color: #fff;
  font-size: 2rem;
  transition: 0.3s;
}
.btn-reservation-cancel:hover,
.btn-reservation-cancel2:hover {
  background-color: #fff;
  color: var(--sub-color-blue);
  cursor: pointer;
  border: 1px solid var(--sub-color-blue);
}

/* ### Reservation-cancel Modal ### */
.modal-background3,
.modal-background4 {
  position: fixed;
  top:0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
.cancel-reservation {
  border-radius: 5px;
  background-color: #fff;

  position: absolute;
  background-color: white;
  display: flex; justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 1300px;
  padding: 2rem;
  top: 30%; left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 5px;
  background-color: #fff;

  display: none;
}

.cancel-reservation .reservation-item {
  border: 1px solid #eee;
  border-radius: 10px;
}
.cancel-reservation h1{
  text-align: center;
  margin-bottom: 1rem;
}
.cancel-reservation .reservation-item-heading {
  display: flex;
  justify-content: space-between;
}
.reservation-item-errormsg {
  color: crimson;
}
.cancel-amount li {
  padding: 1rem 1rem;
}
.cancel-amount input[type=checkbox] {
  display: none;
}
.cancel-amount label:hover {
  cursor: pointer;
}
.cancel-amount label::before {
  content: "\F26B";
  font-family: bootstrap-icons;
  color: #b9b9b9;
  display: inline-block;
  transform: translateY(3px);
  padding-right: 1rem;
}
.cancel-amount input:checked + label::before {
  content: "\F26A";
  font-family: bootstrap-icons;
  color: var(--sub-color-blue);
}
.cancel-amount li > span {
  float: right;
}
.cancel-amount li > span:last-child {
  font-weight: 600;
}
.cancel-price {
  width: 100%;
  padding: 0 2rem;
}
.cancel-price li {
  padding: 1rem 0;
}
.cancel-price li > span:last-child {
  float: right;
  font-weight: 600;
}
.cancel-price li:last-child span:last-child {
  color: crimson;
}
.cancel-reservation .item6 label p {
  font-size: var(--font-size-mainText);
  font-weight: 400;
  color: var(--font-color-subDesc);
}
.cancel-reservation .item6 input[type=checkbox] {
  display: none;
}
.cancel-reservation .item6 label:hover {
  cursor: pointer;
}
.cancel-reservation .item6 label::before {
  content: "\F26B";
  font-family: bootstrap-icons;
  font-size: 2rem;
  color: #b9b9b9;
  display: inline-block;
  transform: translateY(3px);
  padding-right: 0.5rem;
}
.cancel-reservation .item6 input:checked + label::before {
  content: "\F26A";
  font-family: bootstrap-icons;
  color: var(--sub-color-blue);
}
.cancel-reservation .item6 table tr:first-child {
  background-color: var(--sub-color-blue);
  color: #fff;
}
.cancel-reservation .item6 td:first-child {
  border-radius: 1rem 0 0 0;
}
.cancel-reservation .item6 td:last-child {
  border-radius: 0 1rem 0 0;
}
.cancel-booking-buttons {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.cancel-booking-buttons a {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: var(--sub-color-blue);
  border: 1px solid var(--sub-color-blue);
  border-radius: 5rem;
  color: #fff;
  font-size: 2rem;
  transition: 0.3s;
}
.cancel-booking-buttons a:hover {
  background-color: #fff;
  color: var(--sub-color-blue);
  border: 1px solid var(--sub-color-blue);
  cursor: pointer;
}
.btn-close-modal3,
.btn-close-modal4 {
  background-color: var(--bg-color-gray);
  border: 1px solid var(--bg-color-gray);
  color: #333;
}
.btn-close-modal3:hover,
.btn-close-modal4:hover {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  border: 1px solid #333;
}


/* Media Query - Tablet Size */
@media all and (max-width: 1024px) {
  .reservation-confirm-info {
    max-width: 80vw;
    padding: 10rem 0 5rem 0;
    margin: 0px auto;
  }
  .confirm-booking {
    width: 80vw;
    padding: 2rem;
  }
  .confirm-booking:last-child {
    margin-bottom: 0;
  }
  label[for=confirm-booking],
  label[for=confirm-cancel] {
    font-size: 1.8rem;
    font-weight: 400;
  }
  .confirm-booking-content, .confirm-cancel-content {
    min-width: auto;
  }
  .confirm-booking-inner {
    flex-direction: column;
  }
  .confirm-item > div {
    padding-bottom: 1rem;
    height: auto;
    line-height: auto;
  }
  #confirm-item-title {
    height: auto;
    line-height: auto;
    font-size: 2.2rem;
  }
  .confirm-item div span {
    font-size: 2rem;
  }
  
}

/* Media Query - Mobile Size */
@media all and (max-width: 768px) {
  .reservation-confirm-info {
    padding-top: 4rem;
  }
  .confirm-info {
    padding: 2rem;
  }
  .confirm-booking {
    width: 80vw;
    padding: 2rem;
  }
  .confirm-booking-desc p {
    font-size: 2.2rem;
  }
  .confirm-item > div {
    flex-direction: column;
    line-height: 3.5rem;
  }
  .confirm-item > div > span:first-child {
    font-weight: 600;
  }
  .confirm-item div span {
    font-size: 1.6rem;
  }
  .confirm-booking-inner {
    flex-direction: column;
  }
  .reservation-item-content {
    padding: 1rem;
  }
  .cancel-amount li,
  .cancel-price li {
    font-size: 1.5rem;
  }
  .cancel-amount label[for=cancel-item-checkboxAll]::before {
    font-size: 1.8rem;
  }
  .cancel-booking-buttons {
    margin: 0;
  }
}