/* ### Reservation-cancel Modal ### */
.modal-background3,
.modal-background4 {
  position: fixed;
  top:0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
.cancel-reservation {
  border-radius: 5px;
  background-color: #fff;

  position: absolute;
  background-color: white;
  display: flex; justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 1300px;
  padding: 2rem;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 5px;
  background-color: #fff;

  display: none;
}

.cancel-reservation .reservation-item {
  border: 1px solid #eee;
  border-radius: 10px;
}
.cancel-reservation h1{
  text-align: center;
  margin-bottom: 1rem;
}
.cancel-reservation .reservation-item-heading {
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
}
.cancel-reservation .reservation-item-heading p, .cancel-reservation .reservation-item-heading p {
  font-size: var(--font-size-subDesc);
  font-weight: bold;
}
.reservation-item-errormsg {
  color: crimson;
}
.cancel-amount li {
  padding: 1rem 1rem;
}
.cancel-amount input[type=checkbox] {
  display: none;
}
.cancel-amount label:hover {
  cursor: pointer;
}
.cancel-amount label::before {
  content: "\F26B";
  font-family: bootstrap-icons;
  color: #b9b9b9;
  display: inline-block;
  transform: translateY(3px);
  padding-right: 1rem;
}
.cancel-amount input:checked + label::before {
  content: "\F26A";
  font-family: bootstrap-icons;
  color: var(--sub-color-blue);
}
.cancel-amount li > span {
  float: right;
}
.cancel-amount li > span:last-child {
  font-weight: 600;
}
.cancel-price {
  width: 100%;
  padding: 0 2rem;
}
.cancel-price li {
  padding: 1rem 0;
}
.cancel-price li > span:last-child {
  float: right;
  font-weight: 600;
}
.cancel-price li:last-child span:last-child {
  color: crimson;
}
.cancel-reservation .item6 label p {
  font-size: var(--font-size-mainText);
  font-weight: 400;
  color: var(--font-color-subDesc);

  display: inline-block;
}
.cancel-reservation .item6 input[type=checkbox] {
  display: none;
}
.cancel-reservation .item6 label:hover {
  cursor: pointer;
}
.cancel-reservation .item6 label::before {
  content: "\F26B";
  font-family: bootstrap-icons;
  font-size: 2rem;
  color: #b9b9b9;
  display: inline-block;
  transform: translateY(3px);
  padding-right: 0.5rem;
}
.cancel-reservation .item6 input:checked + label::before {
  content: "\F26A";
  font-family: bootstrap-icons;
  color: var(--sub-color-blue);
}
.cancel-reservation .item6 table tr:first-child {
  background-color: var(--sub-color-blue);
  color: #fff;
}
.cancel-reservation .item6 td:first-child {
  border-radius: 1rem 0 0 0;
}
.cancel-reservation .item6 td:last-child {
  border-radius: 0 1rem 0 0;
}
.cancel-booking-buttons {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.cancel-booking-buttons button {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: var(--sub-color-blue);
  border: 1px solid var(--sub-color-blue);
  border-radius: 5rem;
  color: #fff;
  font-size: 2rem;
  transition: 0.3s;
}
.cancel-booking-buttons button:hover {
  background-color: #fff;
  color: var(--sub-color-blue);
  border: 1px solid var(--sub-color-blue);
  cursor: pointer;
}
.btn-close-modal3,
.btn-close-modal4 {
  background-color: var(--bg-color-gray);
  border: 1px solid var(--bg-color-gray);
  color: #333;
}
.btn-close-modal3:hover,
.btn-close-modal4:hover {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  border: 1px solid #333;
}


@media all and (max-width: 768px) {
  .cancel-reservation {
    height: 80vh;
    overflow-y: scroll;
  }
  .cancel-reservation .reservation-item-heading{
    flex-direction: column;
    align-items: flex-start;
  }
  .cancel-reservation .item6 label p {
    margin-top: 1rem;
    display: block;
  }
}